/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

body {
  font-family: 'Raleway', sans-serif;
}

.navbar-custom {
	background-color: #ffffff;
}

.nav-item {
  font-size: 12px;
}

.nav-image {
  height: 75px;
  width: 165px;
}

.banner-image {
  width: 100%;
  height: 600px;
}

.banner-div {
  margin-top: 100px;
}

.philosophy-text {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 64px;
}

.philosophy-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.philosophy-detail-text {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.get-in-touch {
  margin-top: 50px;
  background-color: lightgrey;
  width: 100%;
}

.contact-us {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 70px;
}