<!DOCTYPE html>
<html>
<head>
  <title>LaceyDawnPhotography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Lacey Dawn Photography</a>
			</div>

			<div class="navbar-collapse collapse" style="margin-left: 450px;" dir="rtl">
				<ul id="menu" class="nav navbar-nav navbar-right">
	            	<li class="active"><a href="#">Home</a></li>
	            	<li><a href="#">About</a></li>
	            	<li><a href="#">Blog</a></li>
	            	<li><a href="#">Babies & Children</a></li>
	            	<li><a href="#">Families</a></li>
	            	<li><a href="#">Headshots</a></li>
	            	<li><a href="#">Maternity</a></li>
	            	<li><a href="#">Newborns</a></li>
	            	<li><a href="#">Senior Portraits</a></li>
	            	<li><a href="#">Weddings & Engagements</a></li>
	            	<li><a href="#">F.A.Q</a></li>
	            	<li><a href="#">Testimonials</a></li>
	            	<li><a href="#">CONTACT</a></li>
	            	<li><a href="#">Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
